/* Estilos gerais */
body {
    font-family: times;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #b54d4d;
    color: white;
    text-align: center;
    padding: 1em;
}

/* Conteúdo principal */
main {
    padding: 2em;
    max-width: 600px;
    margin: auto;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1em;
}

input, textarea {
    margin-top: 0.5em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

/* Foco para inputs, textareas e botões */
input:focus, textarea:focus, button:focus {
    outline: 2px solid #09460b;
    border-color: #480202;
}

/* Botão */
button {
    margin-top: 1em;
    padding: 0.5em;
    border: none;
    background-color: #540404;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
}

button:hover {
    background-color: #560707;
}

/* Lista de mensagens */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #ffffff;
    margin: 0.5em 0;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: Monospace;
}

/* Responsividade para telas pequenas */
@media (max-width: 600px) {
    main {
        padding: 1em;
    }

    input, textarea, button {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 1.5rem;
    }
}


